/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("/fonts/Lato/Lato-Bold.ttf");
}

:root {
  --background: #030014;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Lato;
  cursor: none;
}

.btn-primary {
  @apply bg-violet-500 px-5 py-2 rounded-md text-black hover:bg-[#030014] border border-violet-500 outline-0 ring-0 hover:text-white hover:border hover:border-violet-500 hover:ring-0 hover:shadow-md hover:shadow-violet-500 hover:outline-0 transition-all duration-500 font-base
}
