/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("/fonts/Lato/Lato-Bold.ttf");
}

:root {
  --background: #030014;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Lato;
  cursor: none;
}

*,
*::before,
*::after {
  cursor: none !important;
}

.btn-primary {
  @apply inline-flex items-center justify-center px-[34px] py-[15px] rounded-full bg-gradient-to-br from-[#06b6d4] to-[#8b5cf6] text-white font-semibold no-underline transition duration-300 hover:-translate-y-1 hover:shadow-[0_15px_45px_rgba(6,182,212,0.35)]
}

.btn-secondary {
  @apply inline-flex items-center justify-center px-[34px] py-[15px] rounded-full bg-gradient-to-br from-[#000] to-[#8b5cf6] text-white font-semibold no-underline transition duration-300 hover:-translate-y-1 hover:shadow-[0_15px_45px_rgba(6,182,212,0.35)]
}